.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #e0f7fa, #ffffff);
  padding: 20px;
}

.login-form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #070707;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}

.login-form  input:focus,
.login-form select:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
}
.login-form h2 {
  text-align: center;
  color: #1976d2;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}

.login-form input:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0d47a1;
}
