html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.signup-container {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 100vh;             
  background: linear-gradient(to right, #e3f2fd, #ffffff);
  padding: 20px;
}


.signup-form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(41, 39, 39, 0.1);
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  text-align: center;
  color: #1976d2;
  margin-bottom: 20px;
  font-size: 24px;
}

.signup-form input,
.signup-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #070707;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-form button:hover {
  background-color: #0d47a1;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin: -5px 0 5px 5px;
} 